.about {
  overflow-x: hidden;
}

.about .about_page {
  background-color: #0a192f;
}

.about .about_page .main_sec {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -20px;
}
